<section id="servicios">
    <h1>Servicios que realizamos</h1>
    <div class="div-grid">
      <div class="grid-item">
        <div class="content-img-pro">
          <img src="assets/img/IA_EMOCION.png" alt="IA a medida">
        </div>
        <h3>IA a medida</h3>
        <p>Inteligencia Artificial a la medida de su negocio</p>
      </div>
      <div class="grid-item">
        <div class="content-img-pro">
          <img src="assets/img/compra-online.jpg" alt="Compra en línea">
        </div>
        <h3>Compra en línea</h3>
        <p>Por nuestros canales de venta digitales, puedes comprar sin salir de casa</p>
      </div>
      <div class="grid-item">
        <div class="content-img-pro">
          <img src="assets/img/delivery.jpg" alt="Delivery">
        </div>
        <h3>Delivery</h3>
        <p>Tus compras llegarán a tu casa sin necesidad de salir de casa</p>
      </div>
    </div>
  </section>